{% extends "base.html" %}

{% block content %}
    <ul>purpose
        <li>allow more immersive experience</li>
        <li>propose an recommendatio system for using nueral network</li>
        <li>demonstrate the implementatio of ar technology online shopping platform</li>
    </ul>
    <ol>features
        <li>argumented reality eyewear fitting</li>
        <li>upload and removing of eyewear</li>
        <li>face shape classifier to identify face shape to provide recommendation</li>
        <li>recommnendation system to recommend eyewear</li>
    </ol>
    <ol>tools
        <li>face-api-js</li>
        <li>three.js</li>
        <li>tensorflow</li>
        <li>keras</li>
        <li>flask framework</li>
    </ol>
{% endblock %}
